body {
  color: black;
 background: blue;
  margin:  2px;
} 

header{
  font-size: 80px;
 color:green;
border-bottom: solid 2px  blue;
 margin:  20px;
 padding: 20px;
   font-family: "Cabin", sans-serif; 
} 
  
.entrada {
  font-family: "Bebas Neue", sans-serif;
 background:purple;
 margin: 20px; 
 padding: 20px; 
  font-size:30px;
  display: flex;
}

.descricao {
  font-size: 20px;
}

.primeiro {
  margin-right: 20px;
}

img{
  height: 200px;
}

.clipes{
  display: flex;
  overflow-x: auto;
  gap:10px;
}

p{
 text-align: justify; 
}

.outros{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
   font-family: "Bebas Neue", sans-serif;
}

.outros img{
  opacity: 0.5
}

.outros img:hover {
  opacity: 1.0;
 border:solid 3px blue;
 border-radius: 20px; 
}
